header
{
padding:10px;
background-color:blue;
text-align:center;
color:black;
}
.nav
{
background-color:blue;
padding:5px;
}
.nav li
{
list-style:none;
display:inline-block;
padding:10px;
}
.nav a
{
color:yellow;
}
.nav ul li a:hover
{
color:pink;
}
table
{
border-collapse:collapse;
width:100%;
}
td.th
{
text-align:center;
padding:10px;
}
th
{
background-color:green;
color:red;
}
footer
{
height:45px;
background-color:silver;
text-align:center;
padding-top:10px;
}
